<div id="navbar">
	<div class="nav-item">
		<a href="/">Home</a>
		<a href="services">Services</a>
	</div>
	<a href="/"><img src="img/coad-logo-w-words.jpg" alt="COAD"/></a>
	<div class="nav-item">
		<a href="contact-us">Contact Us</a>
		<a href="coad-admin">COAD Use</a>
	</div>
</div>

<div class="button_container" id="toggle" onclick="openMobleMenu()">
	<span class="top"></span>
	<span class="middle"></span>
	<span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
	<nav class="overlay-menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="services">Services</a></li>
			<li><a href="contact-us">Contact Us</a></li>
			<li><a href="coad-admin">COAD Use</a></li>
		</ul>
	</nav>
</div>
