<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Grundy COAD – Contact Us</title>
		<link rel="shortcut icon" href="img/coad-icon.png" />
		<link href="styles/styles.css" rel="stylesheet" type="text/css" />
		<link href="styles/contactstyles.css" rel="stylesheet" type="text/css" />
		<meta name="description" content="Grundy COAD – Grundy County Community Organizations Active in Disaster - Contact Us page" />
		<meta name="author" content="Kyle Monk" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div id="header"><% include partials/header %></div>
		<div id="base">
			<div id="base-container">
				<div id="photos">
					<img src="img/david-schultz-1380838-unsplash.jpg" alt="" />
					<img src="img/lucy-chian-34385-unsplash.jpg" alt="" />
					<img src="img/wade-austin-ellis-1140958-unsplash.jpg" alt="" />
				</div>
				<div id="article">
					<h1>Contact Us</h1>
					<p>Please fill out the form bellow. We will get back to you as soon as posible.</p>
					<p>All fields of the form are required to be filled out.</p>
					<div id="contactform">
						<form action="">
							<label for="firstname">First Name: </label>
							<input type="text" name="firstname" id="firstname" required />
							<label for="lastname">Last Name: </label>
							<input type="text" name="lastname" id="lastname" required />
							<label for="email">Email: </label>
							<input type="email" name="email" id="email" required />
							<label for="phonenumber">Phone Number: </label>
							<input type="phonenumber" name="phonenumber" id="phonenumber" required />
							<label for="subject">Subject or Message</label>
							<textarea name="subject" id="subject" placeholder="Write your message here..." required></textarea>
							<input type="submit" value="Submit" id="submit" />
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="footer"><% include partials/footer %></div>
		<script src="js/scripts.js"></script>
	</body>
</html>
