<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Grundy COAD – Grundy County Community Organizations Active in Disaster</title>
		<link rel="shortcut icon" href="img/coad-icon.png" />
		<link href="styles/styles.css" rel="stylesheet" type="text/css" />
		<meta name="description" content="Grundy COAD – Grundy County Community Organizations Active in Disaster" />
		<meta name="author" content="Kyle Monk" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div id="header"><% include partials/header %></div>
		<div id="base">
			<div id="base-container">
				<div id="photos">
					<img src="img/david-schultz-1380838-unsplash.jpg" alt="" />
					<img src="img/lucy-chian-34385-unsplash.jpg" alt="" />
					<img src="img/wade-austin-ellis-1140958-unsplash.jpg" alt="" />
				</div>
				<div id="article" class="thank-you">
					<h1>Thank you!</h1>
					<img
						class="coad-graph"
						src="img/COAD.png"
						alt="COAD connects - Non Profits Government Businesses Faith Community Schools Neighborhoods"
					/>
					<p>
						We appreciate that you are willing to volunteer your time and skills, it means a lot to the Grundy County COAD and
						the community. We will reach out to you when we think your skills and talents can be useful to help the community.
					</p>
					<br />
					<br />
					<br />
					<p>
						We also recomend following us on <a href="https://www.facebook.com/GrundyCOAD/">Facebook</a>, filling out a
						<a href="pdf/Family_Emergency_Comm_Plan.pdf" target="_blank">Family Emergency Plan</a>, and checking out our other
						<a href="services.html">Links and Information</a> on our service page.
					</p>
					<br />
					<br />
					<br />
					<p>If you would like to fill out the form for another volunteer <a href="contact-us.html">click here</a>.</p>
				</div>
			</div>
		</div>
		<div id="footer"><% include partials/footer %></div>
		<script src="js/scripts.js"></script>
	</body>
</html>
