<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Grundy COAD – Contact Us</title>
		<link rel="shortcut icon" href="img/coad-icon.png" />
		<link href="styles/styles.css" rel="stylesheet" type="text/css" />
		<link href="styles/contactstyles.css" rel="stylesheet" type="text/css" />
		<meta name="description" content="Grundy COAD – Grundy County Community Organizations Active in Disaster - Contact Us page" />
		<meta name="author" content="Kyle Monk" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div id="header"><% include partials/header %></div>
		<div id="base">
			<div id="base-container">
				<div id="photos">
					<img src="img/david-schultz-1380838-unsplash.jpg" alt="" />
					<img src="img/lucy-chian-34385-unsplash.jpg" alt="" />
					<img src="img/wade-austin-ellis-1140958-unsplash.jpg" alt="" />
				</div>
				<div id="article">
					<h1>Volunteer Form</h1>
					<p>
						We apreciate all the help we can get. Please fill out the form bellow and we wil reach out to you when we have a
						situation that we think you could give us a hand in!
					</p>
					<p>All fields of the form are required to be filled out.</p>
					<div id="contactform">
						<form action="/send-volunteer-form" method='POST'>
							<label for="firstname">First Name: </label>
							<input type="text" name="firstName" id="firstname" required />
							<label for="lastname">Last Name: </label>
							<input type="text" name="lastName" id="lastname" required />
							<label for="email">Email: </label>
							<input type="email" name="email" id="email" required />
							<label for="phonenumber">Phone Number: </label>
							<input type="phonenumber" name="phoneNumber" id="phonenumber" required />
							<label for="skills">Skills, talents, or ways you can help: </label>
							<textarea name="skills" id="skills" placeholder="Write how you can help here..." required></textarea>
							<input type="submit" value="Submit" id="submit" />
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="footer"><% include partials/footer %></div>
		<script src="js/scripts.js"></script>
	</body>
</html>
